:root {
    --main-color: rgba(128, 30, 255, 1);
    --shadow-color : rgb(178, 80, 255);
    --transplate-color : rgba(128, 30, 255, 0.1);
    --dark-color : rgb(70, 18, 137);
    --light-color : rgb(248, 242, 255);
    --font-color : rgb(12, 12, 12);
    --base-font : "Glow Sans", "Microsoft YaHei", serif;
    --title-font: "Roboto Slab", "Times", serif;
    --blockquote-font : "Times", "Roboto Slab", serif;
    --blockquote-color : rgba(117, 117, 117, 0.9);
    --monospace: "Cascadia code", "Courier New", monospace; 

    /* --background : url("https://cdn.jsdelivr.net/gh/LSTM-Kirigaya/KImage/Img/2k.jpg"); */

    --quote-title-font-size : 0.9em;
    --quote-tag-font-size : 1.1em;

    /* typora GUI config */
    --sidebar-font-color : black;
    --main-panel-font-color : black;

    --dark0_x:  46,52,64; /* #2e3440 */
    --dark0:    rgb(var(--dark0_x));
    --dark1_x:  59,66,82; /* #3b4252 */
    --dark1:    rgb(var(--dark1_x));
    --dark2_x:  67,76,94; /* #434c5e */
    --dark2:    rgb(var(--dark2_x));
    --dark3_x:  76,86,106; /* #4c566a */
    --dark3:    rgb(var(--dark3_x));

    --light0_x: 216,222,233; /* #d8dee9 */
    --light0:   rgb(var(--light0_x));
    --light1_x: 229,233,240; /* #e5e9f0 */
    --light1:   rgb(var(--light1_x));
    --light2_x: 236,239,244; /* #eceff4 */
    --light2:   rgb(var(--light2_x));
    --light3_x: 255,255,255; /* #ffffff */
    --light3:   rgb(var(--light3_x));

    --frost0_x: 143,188,187; /* #8fbcbb */
    --frost0:   rgb(var(--frost0_x));
    --frost1_x: 146 128 244; /* #88c0d0 */
    --frost1:   rgb(var(--frost1_x));
    --frost2_x: 129,161,193; /* #81a1c1 */
    --frost2:   rgb(var(--frost2_x));
    --frost3_x: 94,129,172; /* #5e81ac */
    --frost3:   rgb(var(--frost3_x));

    --red_x:    191,97,106; /* #bf616a */
    --red:      rgb(var(--red_x));
    --orange_x: 208,135,112; /* #d08770 */
    --orange:   rgb(var(--orange_x));
    --yellow_x: 235,203,139; /* #ebcb8b */
    --yellow:   rgb(var(--yellow_x));
    --green_x:  163,190,140; /* #a3be8c */
    --green:    rgb(var(--green_x));
    --purple_x: 180,142,173; /* #b48ead */
    --purple:   rgb(var(--purple_x));
}

@font-face {
    font-family: "Roboto Slab";
    src: url("./haru/RobotoSlab-Regular-2.ttf");
}

@font-face {
    font-family: "Cascadia code";
    src: url("./haru/Cascadia-Code-Regular-2.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("./haru/Open-Sans-2.ttf");
}

@font-face {
    font-family: "Glow Sans";
    src: url("./haru/GlowSansSC-Normal-Book.woff2") format('woff2');
}

/* global setting */
body {
    font-family: "Roboto Slab", "SimHei", serif;
    /* background-color: rgb(255, 255, 255); */
    --accent-h: 354; /* --red #bf616a */
    --accent-s: 42%;
    --accent-l: 56%;

    --link-decoration:                none;
    --link-decoration-hover:          none;
    --link-external-decoration:       none;
    --link-external-decoration-hover: none;

    --tag-decoration:                 none;
    --tag-decoration-hover:           underline;
    --tag-padding-x:                  .5em;
    --tag-padding-y:                  .2em;
    --tag-radius:                     .5em;

    --tab-font-weight:                600;
    --bold-weight:                    600;

    --checkbox-radius:                0;

    /* --list-indent:                    2em; */

    --embed-border-left: 6px double var(--interactive-accent);
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: initial;
}

.theme-dark
{
    --color-red-rgb:                 var(--red_x);
    --color-red:                     var(--red);
    --color-purple-rgb:              var(--purple_x);
    --color-purple:                  var(--purple);
    --color-green-rgb:               var(--green_x);
    --color-green:                   var(--green);
    --color-cyan-rgb:                var(--frost1_x);
    --color-cyan:                    var(--frost1);
    --color-blue-rgb:                var(--frost3_x);
    --color-blue:                    var(--frost3);
    --color-yellow-rgb:              var(--yellow_x);
    --color-yellow:                  var(--yellow);
    --color-orange-rgb:              var(--orange_x);
    --color-orange:                  var(--orange);
    /* --color-pink:                    var(--purple); */

    --background-primary:            var(--dark0);
    --background-primary-alt:        var(--dark0);
    --background-secondary:          var(--dark1);
    --background-secondary-alt:      var(--dark2);
    --background-modifier-border:    var(--dark2);

    --cursor-line-background:        rgba(var(--dark3_x), 0.5);

    --text-normal:                   var(--light2);
    --text-faint:                    var(--light0);
    --text-muted:                    var(--light1);

    --h1-color:                      var(--red);
    --h2-color:                      var(--yellow);
    --h3-color:                      var(--green);
    --h4-color:                      var(--purple);
    --h5-color:                      var(--frost0);
    --h6-color:                      var(--frost2);

    --text-highlight-bg:             var(--frost1);
    --text-highlight-fg:             var(--dark0);

    --text-accent:                   var(--orange);
    --text-accent-hover:             var(--frost2);

    --tag-color:                     var(--frost0);
    --tag-background:                var(--dark2);
    --tag-background-hover:          var(--dark1);

    --titlebar-text-color-focused:   var(--red);

    --inline-title-color:            var(--yellow);

    --bold-color:                    var(--yellow);
    --italic-color:                  var(--yellow);

    --checkbox-color:                var(--frost0);
    --checkbox-color-hover:          var(--frost0);
    --checkbox-border-color:         var(--frost0);
    --checkbox-border-color-hover:   var(--frost0);
    --checklist-done-color:          rgba(var(--light2_x), 0.5);

    --table-header-background:       hsl(220, 16%, 16%);
    --table-header-background-hover: var(--dark3);
    --table-row-even-background:     hsl(220, 16%, 20%);
    --table-row-odd-background:      hsl(220, 16%, 24%);
    --table-row-background-hover:    var(--dark3);

    --text-selection:                rgba(var(--red_x), 0.6);
    --flashing-background:           rgba(var(--red_x), 0.3);

    --code-normal:                   var(--frost1);
    --code-background:               var(--dark1);

    --mermaid-note:                  var(--frost3);
    --mermaid-loopline:              var(--frost1);

    --icon-color-hover:              var(--red);
    --icon-color-focused:            var(--frost2);

    --nav-item-color-hover:          var(--red);
    --nav-item-color-active:         var(--frost2);
    --nav-file-tag:                  rgba(var(--yellow_x), 0.9);

    --graph-line:                    var(--dark3);
    --graph-node:                    var(--light3);
    --graph-node-tag:                var(--red);
    --graph-node-attachment:         var(--green);

    --calendar-hover:                var(--red);
    --calendar-background-hover:     var(--dark3);
    --calendar-week:                 var(--yellow);
    --calendar-today:                var(--yellow);

    --dataview-key:                  var(--text-faint);
    --dataview-key-background:       rgba(var(--frost2_x), 0.3);
    --dataview-value:                var(--text-faint);
    --dataview-value-background:     rgba(var(--red_x), 0.3);

    --tab-text-color-focused-active:         var(--frost2);
    --tab-text-color-focused-active-current: var(--red);
}

.theme-light
{
    --color-red-rgb:                 var(--red_x);
    --color-red:                     var(--red);
    --color-purple-rgb:              var(--purple_x);
    --color-purple:                  var(--purple);
    --color-green-rgb:               var(--green_x);
    --color-green:                   var(--green);
    --color-cyan-rgb:                var(--frost1_x);
    --color-cyan:                    var(--frost1);
    --color-blue-rgb:                var(--frost3_x);
    --color-blue:                    var(--frost3);
    --color-yellow-rgb:              var(--yellow_x);
    --color-yellow:                  var(--yellow);
    --color-orange-rgb:              var(--orange_x);
    --color-orange:                  var(--orange);
    /* --color-pink:                    var(--purple); */

    --background-primary:            var(--light3);
    --background-primary-alt:        var(--light3);
    --background-secondary:          var(--light2);
    --background-secondary-alt:      var(--light1);
    --background-modifier-border:    var(--light1);

    --cursor-line-background:        rgba(var(--light0_x), 0.2);

    --text-normal:                   var(--dark2);
    --text-faint:                    var(--dark0);
    --text-muted:                    var(--dark1);

    --h1-color:                      var(--red);
    --h2-color:                      var(--yellow);
    --h3-color:                      var(--green);
    --h4-color:                      var(--purple);
    --h5-color:                      var(--frost0);
    --h6-color:                      var(--frost2);

    --text-highlight-bg:             var(--yellow);
    --text-highlight-fg:             var(--dark0);

    --text-accent:                   var(--orange);
    --text-accent-hover:             var(--frost2);

    --tag-color:                     var(--dark3);
    --tag-background:                var(--light1);
    --tag-background-hover:          var(--light0);

    --titlebar-text-color-focused:   var(--red);

    /*--inline-title-color:            var(--yellow);*/
    --inline-title-color:            rgb(10 60 235);

    --bold-color:                    var(--green);
    --italic-color:                  var(--green);

    --checkbox-color:                var(--frost2);
    --checkbox-color-hover:          var(--frost2);
    --checkbox-border-color:         var(--frost2);
    --checkbox-border-color-hover:   var(--frost2);
    --checklist-done-color:          rgba(var(--dark2_x), 0.4);

    --table-header-background:       rgba(var(--light2_x), 0.2);
    --table-header-background-hover: var(--frost2);
    --table-row-even-background:     rgba(var(--light2_x), 0.4);
    --table-row-odd-background:      rgba(var(--light2_x), 0.8);
    --table-row-background-hover:    var(--frost2);

    --text-selection:                rgba(var(--red_x), 0.6);
    --flashing-background:           rgba(var(--red_x), 0.3);

    --code-normal:                   var(--frost1);
    --code-background:               var(--light2);

    --mermaid-note:                  var(--frost0);
    --mermaid-loopline:              var(--frost1);

    --icon-color-hover:              var(--red);
    --icon-color-focused:            var(--frost3);

    --nav-item-color-hover:          var(--red);
    --nav-item-color-active:         var(--frost2);
    --nav-file-tag:                  rgba(var(--orange_x), 0.9);

    --graph-line:                    var(--light0);
    --graph-node:                    var(--dark3);
    --graph-node-tag:                var(--red);
    --graph-node-attachment:         var(--green);

    --calendar-hover:                var(--red);
    --calendar-background-hover:     var(--light0);
    --calendar-week:                 var(--orange);
    --calendar-today:                var(--orange);

    --dataview-key:                  var(--text-faint);
    --dataview-key-background:       rgba(var(--frost2_x), 0.3);
    --dataview-value:                var(--text-faint);
    --dataview-value-background:     rgba(var(--red_x), 0.3);

    --tab-text-color-focused-active:         var(--frost2);
    --tab-text-color-focused-active-current: var(--red);
}




/* inline code */
code {
    margin: 0 2px;
    padding: 4px 6px;
    color: #666363;
    white-space: pre-wrap;
    background: var(--light-color);
    border-radius: 8px;
}



kbd,
samp,
tt,
var {
	font-family: var(--monospace) !important;
}


/* YAML */
pre.md-meta-block {
    font-size: .8rem;
    min-height: .8rem;
    white-space: pre-wrap;
    background: var(--main-color);
    display: block;
    overflow-x: hidden;
    padding: 15px;
    font-family: var(--monospace);
    border-radius: 1.2em;
    color: white;
    caret-color: white;
}



table tr:nth-child(odd)
{
    background: white;
}
table tr:nth-child(even)
{
    background: var(--light-color);
}
table td:hover {
  background-color: var(--shadow-color) !important;
  color: white !important;
  box-shadow: 0 0 10px 5px var(--shadow-color);
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}


/* main element consisting of your text */
p {
    color: var(--font-color);
    margin: 0 0 2em 0;  
    font-weight: 500;
    line-height: 1.6;
    font-family: var(--base-font);
}

a {
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
    text-decoration-style: none;
    cursor: pointer;
    padding: 0 3px 0 3px;
}


/* list */

ol,
ul {
  padding-left: 2em;
  line-height: 2;
}

ul>li>ul>li {
    list-style-type: circle;
  }
  
ul>li>ul>li>ul>li {
    list-style-type: square;
}


iframe {
    border-radius: 1.2em;
    box-shadow: 0 0 8px 3px rgba(181, 181, 182, 0.9);
}


/* checkbox */
.md-task-list-item:hover > input:before,
input[type='checkbox']:hover:before {
	opacity: 1;
	transition: 0.3s;
	background-color: var(--shadow-color);
}

.task-list-item input::before {
    content: "";
    display: inline-block;
	border-radius: .3em;
    vertical-align: middle;
    border: 1.2px solid var(--main-color);
    background-color: #ffffff;
	width: 1.1rem;
    height: 1.1rem;
	margin-left: -0.1rem;
    margin-right: 0.1rem;
    margin-top: -0.68rem; 
}

.task-list-item input:checked::before {
    padding-left: 0.125em;
    content: '✔';
    color:white;
	background-color: var(--main-color);
    font-size: 0.8rem;
    line-height: 0.95rem;
    margin-top: -0.68rem;
	transition: background-color 200ms ease-in-out;
}





/* bg color when text is selected */
div::selection {
background: var(--main-color);
color: white;
}
  
div::-moz-selection {
background: var(--main-color);
color: white;
}

div::-webkit-selection {
background: var(--main-color);
color: white;
}

blockquote::selection {
background: var(--main-color);
color: white;
}

blockquote::-moz-selection {
background: var(--main-color);
color: white;
}

blockquote::-webkit-selection {
background: var(--main-color);
color: white;
}

p::selection {
background: var(--main-color);
color: white;
}

p::-moz-selection {
background: var(--main-color);
color: white;
}

p::-webkit-selection {
background: var(--main-color);
color: white;
}

label::selection {
background: var(--main-color);
color: white;
}

label::-moz-selection {
background: var(--main-color);
color: white;
}

label::-webkit-selection {
background: var(--main-color);
color: white;
}

span::selection {
background: var(--main-color);
color: white;
}

span::-moz-selection {
background: var(--main-color);
color: white;
}

span::-webkit-selection {
background: var(--main-color);
color: white;
}

h1::selection {
background: var(--main-color);
color: white;
}

h1::-moz-selection {
background: var(--main-color);
color: white;
}

h1::-webkit-selection {
background: var(--main-color);
color: white;
}

h2::selection {
background: var(--main-color);
color: white;
}

h2::-moz-selection {
background: var(--main-color);
color: white;
}

h2::-webkit-selection {
background: var(--main-color);
color: white;
}

h3::selection {
background: var(--main-color);
color: white;
}

h3::-moz-selection {
background: var(--main-color);
color: white;
}

h3::-webkit-selection {
background: var(--main-color);
color: white;
}

h4::selection {
background: var(--main-color);
color: white;
}

h4::-moz-selection {
background: var(--main-color);
color: white;
}

h4::-webkit-selection {
background: var(--main-color);
color: white;
}

h5::selection {
background: var(--main-color);
color: white;
}

h5::-moz-selection {
background: var(--main-color);
color: white;
}

h5::-webkit-selection {
background: var(--main-color);
color: white;
}

code::selection {
background: var(--main-color);
color: white;
}

code::-moz-selection {
background: var(--main-color);
color: white;
}

code::-webkit-selection {
background: var(--main-color);
color: white;
}


/* outside */
.megamenu-opened .megamenu-content {

}

.megamenu-menu-panel {
    padding: 10px;
}


.megamenu-menu-header-title-menu {
    color: var(--sidebar-font-color);
}

.megamenu-menu-header-title-back {
    color: var(--sidebar-font-color);
}


/* sidebar */
.megamenu-menu-header {
    width: 60%;
    text-align:center;
    border-bottom: solid 3px var(--main-color);
}


.dropdown-menu .divider {
    width: 30%;
    color: var(--main-color);
    background-color: var(--main-color);
}
.megamenu-menu-list li a {
    transition: all linear .3s;
    width: fit-content;
    padding-right: 60px;
}

.megamenu-menu-list li a:hover {
    transition: all linear .3s;
    color: white !important;
    background-color: var(--main-color) !important;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.megamenu-menu-list li a.active, .megamenu-menu-list:not(.saved) li a:hover {
    color: white !important;
    background-color: var(--main-color) !important;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}



/* side bar Ctrl Shift 2 */
.info-panel-tab-border {
    color: var(--main-color) !important;
    background-color: var(--main-color) !important;
}

.outline-content {
    padding: 3px 18px 3px 0;
}

.outline-item {
    margin-left: -20px;
    margin-right: -20px;
    border-left: 20px solid transparent;
    border-right: 16px solid transparent;
}

.outline-item:hover {
    background-color: var(--shadow-color);
    color: white;
}

.active-tab-files  #info-panel-tab-file .info-panel-tab-title {
    background-color: var(--main-color);
    color: white;
    padding: 5px 5px;
    border-radius: 1.2em;
    transition: all linear .3s;
}

.active-tab-outline #info-panel-tab-outline .info-panel-tab-title {
    background-color: var(--main-color);
    color: white;
    padding: 5px 5px;
    border-radius: 1.2em;
    transition: all linear .3s;
}

.ty-show-search #info-panel-tab-search  .info-panel-tab-title {
    background-color: var(--main-color);
    color: white;
    padding: 5px 5px;
    border-radius: 1.2em;
    transition: all linear .3s;
}



.info-panel-tab-border {
    display: none;
}

.file-list-item.active {
    border-top-right-radius: 2.2em;
    border-bottom-right-radius: 2.2em;
    width: fit-content;
    background-color: var(--main-color) !important;
    color: white;
    transition: all linear .3s;
}

.outline-item-active {
    border-top-right-radius: 2.2em;
    border-bottom-right-radius: 2.2em;
    width: fit-content;
    background-color: var(--main-color) !important;
    color: white;
    transition: all linear .3s;
}


/* theme */
.theme-preview-div.active, .theme-preview-div.active:hover {
    border-color: var(--main-color);
}

/* export */
.long-btn {
    transition: all .3s;
    border-radius: 2em;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.long-btn:hover {
    transition: all .3s;
    color: white !important;
    background-color: var(--main-color);
}

.long-btn-wrap {
    padding: 10px;
}

.megamenu-section-export {
    font-family: var(--title-font) !important;
}


.megamenu-menu-panel h1 {
    padding-bottom: 10px;
    width: fit-content !important;
    border-bottom: var(--main-color) solid 3px;
}

.megamenu-menu-panel h2::before {
    content: "H2";
    border-radius: .3em;
    font-size: 25px;
    padding: 3px 7px;
    margin: 5px 15px 5px 1px;
    background-color: var(--main-color);
    color: white;
}


/* modal exit dialog */
.btn-primary {
    transition: all .3 linear;
    border-radius: 1.2em;
    background-color: var(--main-color);
}

.btn-default {
    transition: all .3 linear;
    border-radius: 1.2em;
    border: var(--main-color) 3px solid;
    color: var(--main-color);
    background-color: white;
}   

.btn-primary:hover,
.btn-default:hover {
    transition: all .3 linear;
    color: white;
    background-color: var(--shadow-color);  
}

.btn-primary:focus,
.btn-default:focus {
    transition: all .3 linear;
    color: white;
    background-color: var(--main-color);
}



.modal-content {
    border-radius: 1.5em;
    border: none;
}


code[class*="language-"],
pre[class*="language-"]
{
    line-height: var(--line-height-tight) !important;
    /*设置代码块在只读模式下边框圆角*/
    border-radius: 1em;
}

/*设置img边框圆角*/
img {
    border-radius: 1em !important;
}


/*设置代码块上边框圆角*/
.cm-s-obsidian div.HyperMD-codeblock-begin-bg{
    border-radius:16px 16px 0 0;
}
/*设置代码块下边框圆角*/
.cm-s-obsidian div.HyperMD-codeblock-end-bg{
    border-radius:0 0 16px 16px;
}

/*.cm-hmd-codeblock{
    color: rgb(13 13 13);
}*/

/*设置代码块中部分关键字颜色*/
.token.atrule, .token.attr-value, .token.builtin, .token.function, .token.class-name, .token.property-access, .cm-builtin, .cm-property, .cm-attribute, .cm-type {
    color: rgb(6 18 244);
}

.token.comment, .token.prolog, .token.doctype, .token.cdata, .cm-comment, .cm-meta {
    color: rgb(247 8 50);
}

.token.entity, .token.parameter, .token.property, .token.url, .language-css .token.string, .style .token.string, .token.variable, .cm-link, .cm-variable, .cm-variable-2, .cm-variable-3 {
    color: rgb(13 13 13);
}